.Dictionary {
    background: linear-gradient(68.3deg, rgb(23, 23, 24) 6.3%, rgb(202, 79, 182) 90.9%);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
    margin: 20px 0;
    border: 1px solid #ececec;
}

.Dictionary input {
    padding: 6px 4px;

    color: #333;
    border-radius: 6px;
    width: 100;
}

.Dictionary section {
    padding: 24px;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    border: 1px solid #757575;
}